html{
    background-color: rgba(0,0,0,.8);
    width: 100%;
    height: 100%;
    transition: 0.2 ease;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
}

li{
    list-style-type: none;
    color: white;
    
}
ul li {
    display: inline;
}

#name{
    width: 100hw;
    text-align: center;
    font-weight: bolder;
    font-size: 35px;
    color: white;
    font-family: Courier New;
    margin-top: 17%;
    background-color: rgba(70,70,70,1);
    padding: 5px;
}

a{
    text-decoration: none;
    color: white; 
}


#links{
    float: left;
    width: 100%;
    text-align: center;
    
    
}

#links li{
    color: white;
    font-family: Courier New;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 40px;
    padding: 9px;
    text-align: center;
    white-space: nowrap;
    
}

/*modal button css */
#contactButton{
    position: absolute;
    bottom: 0;
    left: 45%;
    width: 10%;
    padding: 10px;
    text-align: center;
    background-color: #8e380c;
    font-weight: bold;
    font-size: 14pt;
    cursor: pointer;
}



/*html{
    background-color: rgba(220,223,229,1);
   
    background-size: cover;
    height: 100%;
    width: 100%;
}

li{
    list-style-type: none;
    font-family:Arial;
}

#fullPage{
    
}

a{
    color: rgba(55,55,55,.8);
    text-decoration: none;
}
a:hover{
    color: black;
    padding: 3px;
    
}
a:visited{
    color: rgba(55,55,55,1);
    text-decoration: none;
    
}
img:hover{
    opacity: .5;
}

body{
    
}

#card{
    width: 50%;
    max-width: 850;
    min-width: 730px;
    height: 400px;
    margin-left: 25%;
    margin-top: 13%;
    background-color: rgba(255,255,255,.8);
    /*background-image: url(../Images/card_background2.jpg);
    box-shadow: 10px 10px 10px;
    
}

#card-profile{
    height: 400px;
    width: 50%;
    float: left;
    align-content: center;
    text-align: center;
}

#card-profile li{
    display: inline-block;
    margin-top: 5px;
    float: center;
}
#card-profile ul{
    
}

#prof-wrap{
    width: 300px;
    float: left;
}

#name{
    font-weight: 900;
    font-size: 22px;
    margin-top: 18px;
}

#pic{
    width:250px;
}

#profilePic{
    width: 240px;
    height: 240px;  
    overflow: hidden;
    border-radius: 50%;
    
}

.info{
    width:100%;
    font-family: Segoe UI;
    font-weight: 500;
    color:darkslategrey;
}

#links{
    height: 400px;
    width: 50%;
    float: left;
}

#links li {
    
    display: block;
    color: rgba(55,55,55,.8);
    font-size: 50px;
    font-family: Segoe UI;
    font-weight: 900;
    margin-top: -33px;
    padding: 10px;
}

#links ul{
    margin-top: 145px;
    background-color:forestgreen;
    box-shadow: -5px 5px;
}*/

