html{
    background-color: rgba(0,0,0,.8);
    width: 100%;
    height: 100%;
    transition: 0.2 ease;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
}

li{
    list-style-type: none;
    color: white;
    
}
ul li {
    display: inline;
}

#name{
    width: 100hw;
    text-align: center;
    font-weight: bolder;
    font-size: 35px;
    color: white;
    font-family: Courier New;
    margin-top: 17%;
    background-color: rgba(70,70,70,1);
    padding: 5px;
}

a{
    text-decoration: none;
    color: white; 
}


#links{
    float: left;
    width: 100%;
    text-align: center;
    
    
}

#links li{
    color: white;
    font-family: Courier New;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 40px;
    padding: 9px;
    text-align: center;
    white-space: nowrap;
    
}

/*modal button css */
#contactButton{
    position: absolute;
    bottom: 0;
    left: 45%;
    width: 10%;
    padding: 10px;
    text-align: center;
    background-color: #8e380c;
    font-weight: bold;
    font-size: 14pt;
    cursor: pointer;
}

/*resume modal css*/
#resIcon{
    position: fixed;
    top: 0;
    right:0;
    width: 50px;
    height: 50px;
    padding: 20px;
}

@keyframes animateRes {
    from {opacity:0}
    to {opacity:1}
}

#resIcon img{
    max-width: 100%;
    opacity: .4;
}

#resumeModal{
    display: none;
    position: fixed;
    width:70%;
    left:15%;
    height: 90%;
    top: 4%;
    animation-name: animateRes;
    animation-duration: 1s; 
}

iframe{
    width: 98%;
    height: 96%;
    margin-top: 4%;
    
}
#closeRes{
    position: absolute;
    padding: 5px;
    height: 20px;
    top: 0;
    right: 0;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgba(240,143,122,.5);
    opacity: .5; 
}

/*css for contact modal*/
.modal{
    display: none;
    width: 40%;
    position: fixed;
    z-index: 1;
    left: 30%;
    bottom: 30%;
    border: black;
    background-image: url("../Images/busCard.jpg");
    background-size: contain;
    border-radius: 7px;
    border-width: 1px;
    height: 42%;
    box-shadow: 10px 10px 10px rgba(0,0,0,.8);
    animation-name: animatetop;
    animation-duration: .6s;    
}



.mdlContent{
    text-align: center;
    height: 100%;
    width: 100;
    
}

#close{
    position: absolute;
    padding: 10px;
    height: 20px;
    top: 0;
    right: 0;
    cursor: pointer;
}

#links{
    margin-top:0;
    width: 100%;
    height: 100%;
}

#icon{
    height: 50%;
    margin-left: 10%;
    border-radius: 20px;
}

#phone{
    font-family: courier;
    font-weight: bold;
    margin-top: 4%;
}

#title{
    margin-top: 5%;
    font-family: courier;
    font-weight: bolder;
    font-size: 26px;
}

@keyframes animatetop {
    from {bottom: -40%; opacity:0}
    to {bottom: 30%; opacity:1}
}


#contactButtton:hover{
    background-color: azure;
}


/*html{
    background-color: rgba(220,223,229,1);
   
    background-size: cover;
    height: 100%;
    width: 100%;
}

li{
    list-style-type: none;
    font-family:Arial;
}

#fullPage{
    
}

a{
    color: rgba(55,55,55,.8);
    text-decoration: none;
}
a:hover{
    color: black;
    padding: 3px;
    
}
a:visited{
    color: rgba(55,55,55,1);
    text-decoration: none;
    
}
img:hover{
    opacity: .5;
}

body{
    
}

#card{
    width: 50%;
    max-width: 850;
    min-width: 730px;
    height: 400px;
    margin-left: 25%;
    margin-top: 13%;
    background-color: rgba(255,255,255,.8);
    /*background-image: url(../Images/card_background2.jpg);
    box-shadow: 10px 10px 10px;
    
}

#card-profile{
    height: 400px;
    width: 50%;
    float: left;
    align-content: center;
    text-align: center;
}

#card-profile li{
    display: inline-block;
    margin-top: 5px;
    float: center;
}
#card-profile ul{
    
}

#prof-wrap{
    width: 300px;
    float: left;
}

#name{
    font-weight: 900;
    font-size: 22px;
    margin-top: 18px;
}

#pic{
    width:250px;
}

#profilePic{
    width: 240px;
    height: 240px;  
    overflow: hidden;
    border-radius: 50%;
    
}

.info{
    width:100%;
    font-family: Segoe UI;
    font-weight: 500;
    color:darkslategrey;
}

#links{
    height: 400px;
    width: 50%;
    float: left;
}

#links li {
    
    display: block;
    color: rgba(55,55,55,.8);
    font-size: 50px;
    font-family: Segoe UI;
    font-weight: 900;
    margin-top: -33px;
    padding: 10px;
}

#links ul{
    margin-top: 145px;
    background-color:forestgreen;
    box-shadow: -5px 5px;
}*/

