html {
    background-color: rgba(0, 0, 0, .8);
    width: 100%;
    height: 100%;
    transition: 0.2 ease;
    margin: 0;
    padding: 0;
    position: fixed;
    overflow: hidden;

}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
}

#listDiv ul {
    display: inline-block;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
}

#listDiv li {

    list-style-type: none;
    color: white;
    margin-top: 10px;
    padding: 5px;
    width: 100%;
}

#listDiv {

    position: relative;
    width: 150px;
    text-align: center;
    align-content: center;
    left: 50%;
    margin-left: -75px;
    color: white;
    font-family: Courier New;
    font-size: 25px;

    font-weight: bold;

}

#nameDiv {
    width: 100%;
    text-align: center;
    font-weight: bolder;
    font-size: 250%;
    color: white;
    font-family: Courier New;
    margin-top: 17%;
    background-color: rgba(70, 70, 70, 1);


}

#name {
    width: 95%;
    word-wrap: normal;
    margin-left: 2.5%;
}

a {
    text-decoration: none;
    color: white;
}

.modal {
    display: none;
}

.closeModal {
    position: absolute;
    padding: 10px;
    height: 20px;
    top: 0;
    right: 0;
    cursor: pointer;

}

.list:hover {
    background-color: rgba(70, 70, 70, 1);
}

/*   **********resume modal css********** */

@keyframes animateRes {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}



#resumeModal {

    position: fixed;
    width: 70%;
    left: 15%;
    height: 90%;
    top: 0%;
    animation-name: animateRes;
    animation-duration: 1s;
}

iframe {
    width: 98%;
    height: 96%;
    margin-top: 4%;

}

#closeRes {
    position: fixed;
    padding: 5px;
    height: 20px;
    top: 15px;
    right: 15px;
    cursor: pointer;
    border-radius: 50%;
    background-color: rgba(240, 143, 122, .5);
    opacity: .5;

}

#resumeSmallScreen {
    display: none;
}


/* ******css for contact modal******* */

#contactModal {

    width: 40%;
    position: fixed;
    z-index: 1;
    left: 30%;
    bottom: 30%;
    border: black;
    background-image: url("../Images/busCard.jpg");
    background-size: contain;
    border-radius: 7px;
    border-width: 1px;
    height: 42%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .8);
    animation-name: animatetop;
    animation-duration: .6s;
}



.mdlContent {
    text-align: center;
    height: 100%;
    width: 100;
    margin-top: 0;

}

#closeContact {
    position: absolute;
    padding: 10px;
    height: 20px;
    top: 0;
    right: 0;
    cursor: pointer;

}

#contactLinks {
    margin-top: 0;
    width: 100%;
    height: 100%;

}

.icon {
    height: 50%;
    margin-left: 10%;
    border-radius: 20px;
}

#phone {
    font-family: courier;
    font-weight: bold;
    margin-top: 4%;
}

#title {
    margin-top: 5%;
    font-family: courier;
    font-weight: bolder;
    font-size: 26px;
}

@keyframes animatetop {
    from {
        bottom: -40%;
        opacity: 0
    }
    to {
        bottom: 30%;
        opacity: 1
    }
}


#contactButtton:hover {
    background-color: azure;
}

/* *******CSS for about me modal********* */

#closeAbout {

    padding: 5px;
    height: 20px;
    margin-left: 96%;
    cursor: pointer;

}

#aboutModal {
    font-family: arial;
    font-size: 16pt;
    position: fixed;
    width: 900pt;
    height: 300pt;
    left: 50%;
    top: 50%;
    margin-left: -450pt;
    margin-top: -150pt;
    padding: 20px;
    background-image: url("../Images/card_background2.jpg");
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .8);
    animation-name: animatetop;
    animation-duration: .6s;
}

#aboutModal h2 {
    font-family: courier;
    margin-top: 5pt;
    margin-left: 40%;

}

#me {
    float: left;
    width: 200pt;
    margin-left: 5pt;
    border-radius: 45%;
}

#aboutContent p {
    float: left;
    margin-left: 25pt;
    margin-top: -2pt;
    width: 600pt;
    padding: 5pt;
}


/* ***********CSS for projects modal********* */

#closeProjects {

    padding: 5px;
    height: 20px;
    margin-right: 0%;
    cursor: pointer;

}

#closeProjects:hover{
    background-color: firebrick;
    height: 20px;
    top: 0;
    right: 0;
}

#projectsModal {
    display: none;
    width: 600px;
    height: 70%;
    overflow-y: scroll;
    color: black;
    font-family: Courier New;
    position: fixed;
    left: 50%;
    margin-left: -315px;
    top: 10%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .8);
    animation-name: animatetop;
    animation-duration: .6s;

}

#projWrap{
    padding: 30px;
    height: auto;
    background-image: url(../Images//graphPaperBG.jpg);
    background-repeat: repeat;
}

#projectsModal ul li a {
    color: black;

}

#projectsModal li{
    padding: 2.5px;
    font-weight: bold;
}

#projectsModal a:hover{
    text-decoration: underline;
}

/* ********custom scrollbar************ */

::-webkit-scrollbar{
    width:8px; 
}
::-webkit-scrollbar-thumb{
    background: #706d6d;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
    background: #912828;
}

/* ********media query for small screens and mobile********* */

@media screen and (max-width: 760px) {
    #resumeSmallScreen {
        display: block;
    }
    #resume {
        display: none;
    }
    #listDiv li {
        background-color: rgba(70, 70, 70, 1);
    }
    #name {
        font-size: 40px;
    }
    #contactModal {
        width: 95%;
        left: 2.5%;
        min-height: 250px;
    }
    #aboutModal {
        width: 95%;
        left: 0;
        word-wrap: normal;
        top: 0;
        margin-left: 2.5%;
        margin-top: 2.5%;
        height: 95%;
        padding: 0;
        overflow-y: scroll;

    }
    #aboutContent p {
        text-align: center;
        margin-left: 0;
        margin-top: 270px;
        width: 95%;
        height: auto;
        padding: 2.5%;
        overflow-y: scroll;

    }
    
    #phone a{
        text-decoration: underline;
    }
    
    #aboutModal h2 {
        font-family: courier;
        width: 50%;
        margin-top: 5pt;
        margin-left: 25%;
        text-align: center;

    }

    #me {
        float: left;
        width: 200pt;
        margin-left: 50%;
        position: absolute;
        left: -100pt;
        border-radius: 45%;
    }
    
    #projectsModal{
        width: 95%;
        height: 95%;
        margin: 2.5%;
        left: 0;
        top: 0;
    }

}

@media screen and (max-height: 450px) {
    #resumeSmallScreen {
        display: block;
    }
    #resume {
        display: none;
    }
    li {
        background-color: rgba(70, 70, 70, 1);
    }
    #contactModal {
        width: 60%;
        left: 20%;
        top: 5%;
        min-height: 280px;

    }

    html {
        position: absolute;
        overflow: scroll;
    }
    body {
        position: absolute;
        min-height: 500px;

    }

    #name {
        margin-top: 5%;
    }

}