* {
    margin: 0;
}

html{
    height: 100%;
}

body{
    height: 100%;
    width: 100%;
    min-width: 775px;
    float: left;
    margin:0%;
    position: fixed;
    
}

#mainHead{
    height: 8%;
    width: 100%;
    float: left;
    position: relative;
    
    background-color: rgba(30,30,30,1);
    text-align: left;
}

.sidebar{
    width: 20%;
    height: 92%;
    margin: 0%;
    float: left;
    background-color: rgba(70,70,70,1);
    
}

.content{
    width: 80%;
    height: 92%;
    margin: 0px;
    float: left;
    
    background-color: white;
    
}

.sidebar ul {
    float: left;
    list-style: none;
    padding-left: 0;
    font-size: 20pt;
}
.sidebar li {
    float:left;
    padding: 18px;
    width: 100%;
}

.biolist:hover{
    
}

a{
    text-decoration: none;
    color:black;
}



a:hover {
    color: white;
}

h2{
    padding: 1%;
    align-content: center;
    color: white;
    font-size: 35px;
    
}
h3{
    padding: 10px;
}

#homeBtn{
    position: absolute;
    bottom: 0;
    width: 10%;
    background-color: #722820;
    float: left;
    text-align: center;
}

#contactButton{
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 10%;
    background-color: #8e380c;
    float: left;
    text-align: center;
    cursor: pointer;
}

#por{
    float: left;
}








