* {
    margin: 0;
}

html{
    height: 100%;
}

body{
    height: 100%;
    width: 100%;
    min-width: 775px;
    
    margin:0%;
    position: fixed;
    
}

#mainHead{
    height: 8%;
    width: 100%;
    float: left;
    position: relative;
    
    background-color: rgba(30,30,30,1);
    text-align: left;
}

.sidebar{
    width: 21%;
    height: 92%;
    margin: 0%;
    float: left;
    background-color: rgba(70,70,70,1);
    padding: 2%;
    
}

.content{
    width: 75%;
    height: 92%;
/*    margin: 10px;*/
    float: right;
    margin-top: 0;
    background-color: black;
    
}


a{
    text-decoration: none;
    color:black;
}



a:hover {
    color: white;
}

h2{
    padding: 1%;
    align-content: center;
    color: white;
    font-size: 35px;
    
}
h3{
    padding: 10px;
}

#homeBtn{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 12.5%;
    background-color: #722820;
    float: left;
    text-align: center;
}

#contactButton{
    position: absolute;
    bottom: 0;
    left: 12.5%;
    width: 12.5%;
    background-color: #8e380c;
    float: left;
    text-align: center;
    cursor: pointer;
}
#imageBox{
    width: 100%;
    height: 2000%;
    float: left;
    background-color: black;
}
.adImage{
    width: 100%;
}
iframe{
    
}